.hero-page {
  display: flex;
  font-family: "Alegreya", serif;
  height: 55vh;
  gap: 6rem;
  margin-top: 7rem;
}
.hero-img {
  flex: 1;
}
.hero-img > img {
  padding: 1rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 2;
}
.hero-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 3.5rem;
}
.hero-caption {
  color: var(--primary1_dark);
  background-color: var(--primary2_light);
  width: fit-content;
  padding: 0.3em;
  font-size: 1.75rem;
  box-shadow: 4px 4px 8px var(--primary2_light);
}
.hero-desc {
  font-size: 1.25rem;
  color: var(--primary2_dark);
  padding-right: 10rem;
  text-wrap: wrap;
}
.hero-content > button {
  padding: 0.5em 1em;
  font-size: 1.2rem;
  color: var(--primary1_dark);
  border: none;
  border-radius: 0;
  background-color: var(--primary1);
  cursor: pointer;
  align-self: start;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
