.topbar {
  height: 6rem;
  position: sticky;
  top: 0;
}
.navbar {
  background-color: var(--primary2);
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.menus {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-between;
  color: var(--black);
}
.menus > * {
  padding: 1em;
}
.menus > * :hover {
  cursor: pointer;
  color: var(--primary2_dark);
}
.navIcons {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-between;
}
.navIcons > * {
  padding: 1em;
  cursor: pointer;
}

.subNav {
  background-color: var(--primary2_dark);
  height: 2rem;
  display: flex;
  padding: 0.5em 1.5em;
  align-items: center;
}
/* Dropdwn menu styling */
.dropdown {
  position: relative;
}
.dropdown-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 1.15em;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--primary2_light);
}

.dropdown-item {
  padding: 1em;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: white;
}

/* LoginRegisterModal.css */
.loginReg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: var(--primary2);
  padding: 5rem;
  position: relative;
  text-align: center;
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  color: var(--primary2_dark);
}

.form_labels {
  padding-bottom: 0.5rem;
}
.form_text {
  padding-right: 0.5em;
}
form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1em;
}

form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: var(--primary2_dark);
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}
button[type="button"] {
  background: none;
  border: none;
  color: var(--primary2_dark);
  cursor: pointer;
  text-decoration: underline;
}
